@import "normalize";
@import "bootstrap";
@import "wpcore";

$color-primary-light1: #f2474f;
$color-primary-light2: #fd8f94;
$color-primary: #bf1620;
$color-primary-dark1: #7b0006;
$color-primary-dark2: #150001;

$color-secondary-light1: #c2398c;
$color-secondary-light2: #e380bc;
$color-secondary: #991264;
$color-secondary-dark1: #63003c;
$color-secondary-dark2: #10000a;

$color-tertiary-light2: #E380BC;
$color-tertiary-light1: #C2398C;
$color-tertiary: #c26116;
$color-tertiary-dark1: #63003C;
$color-tertiary-dark2: #10000A;

$font-family-header: baskerville, palatino, 'palatino linotype', georgia,serif;
$font-family-body: "Lucida Sans Unicode","Lucida Grande","Lucida Sans",Verdana,Arial,sans-serif;

$base-unit: 1rem;

$base-font-size:1.5rem;
$base-line-height: 2rem;

$navbar-height: 50px;

